.Table{
    margin-left: 50px;
    margin-top: 15px;
    width:93%;
    height: 100px;
    padding: 8px;
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    /* color: aqua; */
    box-shadow: 2px 2px 15px rgb(255, 252, 252);
    color: rgb(151, 155, 157);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color: none;
    visibility:inherit;                             /*rgb(15, 20, 39);*/
}
.table_box{
    /* margin-left: 50px; */
    width: 99vw;
    height: 780px;
    display: flex;
    flex-direction: column;
    background-color:rgb(15, 20, 39);

    
}

td:nth-child(6)
{
  /* background-color: green; */
  color:rgb(74, 69, 149);
}
td:nth-child(5)
{
  /* background-color: green; */
  color:rgb(23, 61, 85);
}
td:nth-child(7)
{
  
  /* background-color: green; */
  color:rgb(23, 61, 85);
}
.default{
  color: beige;
  font-size: xx-large;
  margin-left: 37vw;  
  margin-top: 40vh;
  align-self: center;
}